DATABASE_URL="postgresql://enshop:enshop@localhost:5432/enshop_api_js?schema=public"
PORT=3000
BCRYPT_SALT_ROUNDS=12

REGISTER_TOKEN_TTL=P2D
RESET_PASSWORD_TOKEN_TTL=PT15M
MAX_LOGIN_ATTEMPTS=5

AVATAR_UPLOAD_DIR=public/uploads/images/user/avatar
AVATAR_BASE_URL=/uploads/images/user/avatar
AVATAR_MAX_SIZE=2097152
AVATAR_MAX_DIMENSION=512
